h1
{
	color:blue; 
	font-size: 40px;
}
h2
{
	color:black; 
	font-size: 40px;
}
h3
{
	color:red; 
	font-size: 40px;
}
h4
{
	color:yellow; 
	font-size: 40px;
}
h5
{
	color: green; 
	font-size: 40px;
}
.body_background {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}
#MyCanvas{
    border-width: 10px;
    background-color: white;
    border-style: ridge;
    }
    span{
        font-size: 20px;
    }